#tweets-container {
  display: inline-flex;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  margin-top: 1em;
  border: 2px solid black;
  width: 100%;
  word-wrap: break-word
}

.avatar {
  width: 25%;
}

#tag {
  color: #e3ded9;
}

.far {
  margin-right: 10px;
}

#black-bar {
  border-top: 2px solid black;
  margin: 10px;
}

#tweets-container header {
  display: flex;
  margin: 10px;
  justify-content: space-between;
}

#tweets-container #tweet-text {
  margin: 10px;
}

#tweets-container footer {
  font-size: 15px;
  margin: 20px;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}
#tweets-container #footer-icons {
  color: #4056A1;
}
#tweets-container .fa-flag:hover {
  color: #bdb76b;
}
#tweets-container .fa-retweet:hover {
  color: #bdb76b;
}
#tweets-container .fa-heart:hover {
  color: #bdb76b;
}
#tweets-container:hover {
  box-shadow: 5px 10px #565b5d;
}